/** Tables **/

#body table {
	table-layout: fixed;
	border: 0;
}

#body th, #body td {
	font-weight: normal;
	border: 0;
	vertical-align: top;
	background: none;
}

@media (max-width: 959px) {
	#body th, #body td {
		display: block;
	}
}

/** Header **/

#header, #header.scrolled{
	background: #333 !important;
}

#header #logo h3 a{
	color: #fff;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	transition: color 0.5s ease;
}

#header.scrolled #logo h3 a{
	color: #999 !important;
}

#header.scrolled #navbar span{
	color: inherit !important;
}
